asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
cloudinary==1.44.2
dj-database-url==3.1.2
dj3-cloudinary-storage==0.0.6
Django==4.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==25.1.0
idna==3.13
packaging==26.0
psycopg2-binary==2.9.11
PyMySQL==1.1.2
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0